====== Bahasa Requirements ======

A version of Flash with additional features specifically for learning languages.

Allow user to login and save his state.  

Give user tools to display his progress in multiple languages.

Allow teachers to prepare lessons and send cards to either Flash or Bahasa.  Give the teacher a tool to generate lists including the card id. 

In addition to the teachers' lessons, Bahasa can generate a review lesson, pulling mastered, review, and working cards from the db.  Bahasa starts each user with the basics and progresses to more advanced concepts building on what the user has already mastered.

Build upon what the user already knows.  Always give him a combination of what he has mastered and what he's working on.
